body {
    font-family: 'ProximaNovaRegular', sans-serif;
}
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.ttf");
}
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/Proxima-Nova-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "ProximaNovaLight";
    src: url("../fonts/Proxima-Nova-Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "ProximaSemibold";
    src: url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont_0.ttf");
}